<div class="row">
    <div class="col-md-6 mt-5">
        <div class="card">
            <div class="card-header">KMI skaičiuoklė</div>
            <div class="card-body">
                <div class="mb-3">
                    <label for="ugis" class="form-label">Ūgis (cm)</label>
                    <input id="ugis" class="form-control" type="text" [(ngModel)]="ugis" placeholder="Įveskite ūgį">
                </div>
                 <div class="mb-3">
                    <label for="svoris" class="form-label">Svoris (kg)</label>
                    <input id="svoris" class="form-control" type="text" [(ngModel)]="svoris" placeholder="Įveskite svorį">
                 </div>
                 <button class="btn btn-success" (click)="KMISkaiciavimas()">Skaičiuoti KMI</button>
            </div>
        </div>
    </div>
    <div class="col-md-6 mt-5">
        <div class="card">
            <div class="card-header">Kūno masės indeksas</div>
            <div class="card-body">
                {{ KMI }}
            </div>
        </div>
    </div>
</div>